{% extends "base.html" %}
{% load i18n static %}

{% block content %}

{% if validlink %}

<p>確認のために、新しいパスワードを二回入力してください。</p>

<form method="post">{% csrf_token %}
<fieldset>
    <label>ユーザ名</label>
    <input class="hidden" autocomplete="username" value="{{ form.user.get_username }}">
    <div class="form-row field-password1">
        {{ form.new_password1.errors }}
        <label for="id_new_password1">新しいパスワード</label>
        {{ form.new_password1 }}
    </div>
    <div class="form-row field-password2">
        {{ form.new_password2.errors }}
        <label for="id_new_password2">{新しいパスワード (確認用)</label>
        {{ form.new_password2 }}
    </div>
    <input type="submit" value="パスワードの変更">
</fieldset>
</form>

{% else %}

<p>パスワードリセットのリンクが不正です。おそらくこのリンクは既に使われています。もう一度パスワードリセットしてください。</p>
{% endif %}

{% endblock %}
